body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: black;
    background: white;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

/* Controls */
input {
    font-size: 100%;
    width: 90%;
    max-width: 350px;
}

/* Email list table */
table {
    width: 100%;
    border: 1px solid #000;
}

th {
    text-align: left;
}

td {
    border: 1px solid #000;
}

.container {
    position: relative;
}

.content {
    position: absolute;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spacer {
    height: 0;
    overflow: hidden;
}

.seen {
    background: lightgray;
}

.not-seen {
    /* do nothing */
}
